<a href="https://colab.research.google.com/github/swoodums/Python-Learning/blob/main/pandasLesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #importing pandas for data structures

#DataFrames
I want to store data on my teammates.  I know their name, age, and sex.

In [ ]:
df = pd.DataFrame(
    {
        "Name": [ #Creating a column with the header "Name".  Also can be thought of a creating a series "Name" with three textual items.
                 "Jake the Dog", #Creating a row
                 "Finn the Human",
                 "Ice King"
        ],
        "Age": [12, 28, 1043],
        "Sex": ["Male", "Male", "Male"]
    }
)
df  #displays the dataframe we just built

             Name   Age   Sex
0    Jake the Dog    12  Male
1  Finn the Human    28  Male
2        Ice King  1043  Male

#Each Column in a DataFrame is a Series
I'm just interested in the ages.

In [ ]:
df["Age"] #just returns the column "Age" from the dataframe we created above.
          #The result is a series.

0      12
1      28
2    1043
Name: Age, dtype: int64

In [ ]:
ages = pd.Series([12, 28, 1043], name="Age")    #Explicitly creating a series from scratch
ages

0      12
1      28
2    1043
Name: Age, dtype: int64

#Do Something with a DataFrame or Series
I want to know the maximum age of my teammates.

In [ ]:
df["Age"].max()  #Selects the column "Age" from the DataFrame df, then applies the max() method/function to return the maximum value in that column.

1043

In [ ]:
ages.max()  #applies the max() method/function to the series "ages"

1043

I'm interested in some basic statistics of the numerical data of my table

In [ ]:
df.describe()  #Returns a table/DataFrame with some simple statistics about the numberical columns in the DataFrame df

               Age
count     3.000000
mean    361.000000
std     590.683502
min      12.000000
25%      20.000000
50%      28.000000
75%     535.500000
max    1043.000000

#Summary & Recap


*   Import the package, aka import pandas as pd
*   A table of data is stored as a pandas **DataFrame**
*   Each column in a **DataFrame** is a **Series**
*   You can do things by applying a method to a **DataFrame** or a **Series**